

<section class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        <style>
        .checkbox-inline, .checkbox {
  line-height: 1.9;
}
        </style>
        <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h1 class="text-center"><i class="fa fa-edit" style='margin-right: 10px;'> </i></a> Edit Profile</h1>
                </div>
            </div>
            
            <div class="container">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                      <%= devise_error_messages! %>
                    </div>
                    </div>

                    <center>
                    <h3>Basic Info</h3>
                    </center>

                     <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <center>
                          <%= f.label :avatar %><br />
                          <img class="margin-b-20" src=<%= avatar_small %> alt="" height='200' width='200' style='border: 3px rgba(0, 0, 0, 0.2) solid;'/><br>
                          <% if current_user.avatar.url.present? %>
                            <label class='checkbox-inline' style='margin-top: -25px;'><%= f.check_box :remove_avatar, style: 'margin-top: 6px;' %>Remove Avatar</label>
                          <% end %><br>
                            <%= f.file_field :avatar, style: 'margin-left: 80px;' %>
                            </center>
                          </div>
                          <%= f.hidden_field :avatar_cache %>
                        </center>
                      </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label :name %><br />
                        <%= f.text_field :name, class: 'form-control', size: 50 %>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label :city %> <br />
                        <%= f.text_field :city, class: 'form-control awesomplete', id: 'city_input', style: 'width: 220px;' %>
                        <a href='' class='text-muted'>City not here?</a>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label :date_of_birth %><br />
                        <%= f.date_field :date_of_birth, class: 'form-control' %>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="col-md-4">
                        <%= f.label 'Gender' %>
                      </div>
                    </div>

                    <div class='row margin-b-20'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="col-md-4">
                        <label class='radio-inline'><%= f.radio_button :gender, "Male"%>Male</label>
                        <label class='radio-inline'><%= f.radio_button :gender, "Female"%>Female</label>
                        <label class='radio-inline'><%= f.radio_button :gender, "Genderfluid"%>Genderfluid</label>
                        <label class='radio-inline'><%= f.radio_button :gender, "Non-binary"%>Non-binary</label>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="col-md-4">
                        <%= f.label 'Looking For' %>
                      </div>
                    </div>

                    <div class='row margin-b-20'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="col-md-4">
                        <label class='checkbox-inline'><%= f.check_box :looking_for_male, style: 'margin-top: 6px;' %>Male</label>
                        <label class='checkbox-inline'><%= f.check_box :looking_for_female, style: 'margin-top: 6px;' %>Female</label>
                        <label class='checkbox-inline'><%= f.check_box :looking_for_genderfluid, style: 'margin-top: 6px;' %>Genderfluid</label>
                        <label class='checkbox-inline'><%= f.check_box :looking_for_nonbinary, style: 'margin-top: 6px;' %>Non-binary</label>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label 'Bio (Tell us about yourself here)' %><br />
                        <%= f.text_area :bio, class: 'form-control', :maxlength => 5000, :rows => 7 %>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <hr>
                      </div>
                    </div>

                    <center>
                    <h3>Gallery</h3>
                    </center>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-2">
                          <%= f.label 'Gallery Image 1' %><br /><br>
                          <img class="margin-b-20" src=<%= gallery_img_1_url_small %> alt="" height='250' width='320' style='border: 3px rgba(0, 0, 0, 0.2) solid; margin-top: -20px;'/><br>
                          <% if current_user.gallery_img_1.url.present? %>
                            <label class='checkbox-inline' style='margin-top: -25px;'><%= f.check_box :remove_gallery_img_1, style: 'margin-top: 6px;' %>Remove Gallery Image 1</label>
                          <% end %>
                          <%= f.file_field :gallery_img_1  %><br>
                      </div>

                      <div class="form-group col-md-2">
                          <%= f.label 'Gallery Image 2' %><br /><br>
                          <img class="margin-b-20" src=<%= gallery_img_2_url_small %> alt="" height='250' width='320' style='border: 3px rgba(0, 0, 0, 0.2) solid; margin-top: -20px;'/><br>
                          <% if current_user.gallery_img_2.url.present? %>
                            <label class='checkbox-inline' style='margin-top: -25px;'><%= f.check_box :remove_gallery_img_2, style: 'margin-top: 6px;' %>Remove Gallery Image 2</label>
                          <% end %>
                          <%= f.file_field :gallery_img_2  %><br>
                          <%= f.hidden_field :gallery_img_2_cache %>
                      </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-2">
                          <%= f.label 'Gallery Image 3', class: 'margin-t-20' %><br /><br>
                          <img class="margin-b-20" src=<%= gallery_img_3_url_small %> alt="" height='250' width='320' style='border: 3px rgba(0, 0, 0, 0.2) solid; margin-top: -20px;'/><br>
                          <% if current_user.gallery_img_3.url.present? %>
                            <label class='checkbox-inline' style='margin-top: -25px;'><%= f.check_box :remove_gallery_img_3, style: 'margin-top: 6px;' %>Remove Gallery Image 3</label>
                          <% end %>
                          <%= f.file_field :gallery_img_3  %>
                          <%= f.hidden_field :gallery_img_3_cache %>
                      </div>

                      <div class="form-group col-md-2">
                          <%= f.label 'Gallery Image 4', class: 'margin-t-20' %><br /><br>
                          <img class="margin-b-20" src=<%= gallery_img_4_url_small %> alt="" height='250' width='320' style='border: 3px rgba(0, 0, 0, 0.2) solid; margin-top: -20px;'/><br>
                          <% if current_user.gallery_img_4.url.present? %>
                            <label class='checkbox-inline' style='margin-top: -25px;'><%= f.check_box :remove_gallery_img_4, style: 'margin-top: 6px;' %>Remove Gallery Image 4</label>
                          <% end %>
                          <%= f.file_field :gallery_img_4  %>
                          <%= f.hidden_field :gallery_img_4_cache %>
                      </div>
                    </div>


                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <hr>
                      </div>
                    </div>

                    <center>
                    <h3>Interests</h3>
                    <b>Coming Soon!</b>
                    </center>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <hr>
                      </div>
                    </div>

                    <center>
                    <h3>Contact</h3>
                    </center>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label 'Facebook Link' %><br />
                        <%= f.text_field :facebook, class: 'form-control' %>
                        </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label 'skype id' %><br />
                        <%= f.text_field :skype, class: 'form-control' %>
                        </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label 'Instagram ID' %><br />
                        <%= f.text_field :instagram, class: 'form-control' %>
                        </div>
                    </div>

                    <div class='row'>
                      <div class="form-group col-md-4">
                      </div>
                      <div class="form-group col-md-4">
                        <%= f.label 'twitter link' %><br />
                        <%= f.text_field :twitter, class: 'form-control' %>
                        </div>
                    </div>

                    <center>
                      <%= f.submit "Update", class: 'btn btn-mint-green btn-filled btn-lg margin-t-20'%>
                    </center>

                  <% end %>

            </div>
        </div>

</section>

<!-- Awesomplete -->
<script src='/assets/js/awesomplete.js'></script>
<%= city_names %>



