<!-- Section - Summary -->
    <section id="section01" class="section fullheight bg-blue dark padding-v-100" data-header-change="true" style="background-color:#282463">

        <div class="container container-wide v-center">
            <div class="row">
                <center>
                <div class="col-lg-12 col-md-10">
                    <img class="margin-b-20" src="<%= avatar_large %>" alt="" height='500' width='500' style='border: 3px rgba(0, 0, 0, 0.2) solid;'/>
                    <%= show_edit_profile %>
                    <h1 class="margin-b-10"><%= show_name %></h1>
                    <h3><%= show_location %></h3>
                    <h3><%= show_age %></h3>
                    <h3><%= show_gender %></h3>
                    <h3><i class="fa fa-search" style="width: 35px;"></i> Looking for: <%= show_looking_for %></h3>
                </div>
                </center>
            </div>
        </div>
        
    </section>
    <!-- Section - Summary-->

    <!-- Section - Gallery -->
    <section id="section02" class="section dark" data-header-change="true" style='background-color: #282463;'>

        <div class="masonry-grid no-padding">
            <!-- Masonry Sizer -->
            <div class="masonry-sizer"></div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="/assets/img/gallery-placeholder-top.png" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover dark" style='background-color: rgba(40, 36, 99, 0.6);'>
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Hello!</h2>
                                <span class="text-muted">Hello I am driving.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="/assets/img/gallery-placeholder-top.png" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover dark" style='background-color: rgba(40, 36, 99, 0.6);'>
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Starbucks</h2>
                                <span class="text-muted">Me at Starbucks</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="/assets/img/gallery-placeholder-top.png" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover dark" style='background-color: rgba(40, 36, 99, 0.6);'>
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Vacation</h2>
                                <span class="text-muted">Me in China.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="/assets/img/gallery-placeholder-top.png" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover dark" style='background-color: rgba(40, 36, 99, 0.6);'>
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">PAX</h2>
                                <span class="text-muted">PAX event 2015</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

    </section>
    <!-- Section - Gallery -->

    <!-- Section - Interests -->
    <section id="section03" class="section fullheight dark padding-v-100" data-header-change="true" style="background-color:#17665C;">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1><strong>My Interests</strong></h1>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Interests -->

    <!-- Section - About -->
    <section id="section04" class="section fullheight dark padding-v-100" data-header-change="true" style="background-color:#183159">

        <div class="container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1 class="margin-b-50"><strong>About Me</strong></h1>
                    <p class='lead'><%= h(show_bio).gsub(/\n/, '<br/>').html_safe %></p>
            </div>
        </div>
        
    </section>
    <!-- Section - About-->

    <!-- Section - Contact -->
    <section id="section05" class="section fullheight dark padding-v-100" data-header-change="true" style="background-color:#1A5B71">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1 class="margin-b-60"><strong>Get in touch</strong> with <strong><%= show_contact_name %></strong>! </h1>
                        <%= show_contact_info %>
                        <!--
                    -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Contact / End -->
    
</div>
<!-- Page Wrapper / End -->