<style>
    th {
        padding: 5px 10px;
    }

    td {
        padding: 5px 10px;
    }
</style>

<section class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
    <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h1 class="text-center"><i class="fa fa-folder-open-o" style='margin-right: 10px;'> </i></a> Reports</h1>
                </div>
            </div>

        <center>

        <h1>Unreviewed</h1>
        <table class='table-bordered report_table'>
            <tr>
                <th>Date</th>
                <th>id</th>
                <th>Reported User</ht>
                <th>Reported By</th>
                <th>Reason</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
            <% Report.unreviewed.each do |report| %>
                <tr>
                    <td><%= report.created_at %></td>
                    <td><%= report.id %></td>
                    <td><a href='/profile/<%= report.reported_id %>'><%= report.reported_id %> (<%= User.find(report.reported_id).name %>)</a></td>
                    <td><a href='/profile/<%= report.reporter_id %>'><%= report.reporter_id %> (<%= User.find(report.reporter_id).name %>)</a></td>
                    <td><%= report.reason %></td>
                    <td><%= show_reported_message(report) %></td>
                    <td>
                        <a href='#'>Message</a> |
                        <%= form_tag({controller: "reports", action: "ignore"}, method: "post", style: 'display: inline;') do %>
                            <%= hidden_field_tag(:id, report.id) %>
                            <%= hidden_field_tag(:status, 'ignored') %>
                            <a href="#" onclick="$(this).closest('form').submit()">Ignore</a>
                        <% end %>
                        |
                        <%= form_tag({controller: "reports", action: "ban"}, method: "post", style: 'display: inline;') do %>
                            <%= hidden_field_tag(:id, report.id) %>
                            <%= hidden_field_tag(:status, 'banned') %>
                            <a href="#" onclick="$(this).closest('form').submit(); return confirm('Are you sure you want to ban this user? Click OK to confirm.')">Ban</a>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>

        <h1 class='margin-t-50'>Reviewed</h1>
        <table class='table-bordered'>
            <tr>
                <th>Date</th>
                <th>id</th>
                <th>Reported User</ht>
                <th>Reported By</th>
                <th>Reason</th>
                <th>Message</th>
                <th>Status</ht>
            </tr>
            <% Report.reviewed.each do |report| %>
                <tr>
                    <td><%= report.created_at %></td>
                    <td><%= report.id %></td>
                    <td><a href='/profile/<%= report.reported_id %>'><%= report.reported_id %> (<%= User.find(report.reported_id).name %>)</a></td>
                    <td><a href='/profile/<%= report.reporter_id %>'><%= report.reporter_id %> (<%= User.find(report.reporter_id).name %>)</a></td>
                    <td><%= report.reason %></td>
                    <td><%= show_reported_message(report) %></td>
                    <td><%= report.status %></td>
                </tr>
            <% end %>
        </table>

        </center>

    </div>
</section>