<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- CSRF -->
<%= csrf_meta_tags %>

<!-- Title -->
<title>Vegan Singles - Vegan Dating, Simplified.</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/android-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/favicon-16x16.png">
<link rel="manifest" href="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://s3-us-west-1.amazonaws.com/vegansinglesassets/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="/assets/css/styles.css" />

<!-- CSS Animations -->
<link rel="stylesheet" href="/assets/css/animate.css" />

<!-- CSS Template -->
<link rel="stylesheet" href="/assets/css/theme.css" />

<!-- CSS Oxygen Font -->
<link rel="stylesheet" href="/assets/css/font-oxygen.css" />

<!-- CSS Awesomplete -->
<link rel="stylesheet" href="/assets/css/awesomplete.css" />

<!-- Ekko Lightbox -->
<link rel ='stylesheet' href='/assets/css/ekko-lightbox.css' />

</head>

<body class="side-navigation">

<!-- Loader -->
<div id="page-loader"></div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="header-vertical bg-black dark">

    <!-- Logo -->
    <a href="#" class="logo padding-v-60 padding-h-20 text-right hidden-sm hidden-xs" style="text-decoration: none">

        <h2>Vegan Singles<br><span class='lead'>BETA</span></h2>
        <img src='https://s3-us-west-1.amazonaws.com/vegansinglesassets/logo.png' class='margin-b-20' height='100' width='100'>
        <br>
        <p><%= number_with_delimiter(User.count)%> total members</p>
    </a>
    
    <!-- Navigation -->
    <nav id="main-menu">
        <ul class="nav nav-main-vertical">
            <% if current_user %>
                <% if current_user.role == 'banned' %>
                    <%= render 'layouts/header_banned' %>
                <% elsif current_user.role == 'nonmember' %>
                    <%= render 'layouts/header_nonmember' %>
                <% elsif current_user.role == 'admin' %>
                    <%= render 'layouts/header_admin' %>
                <% else %>
                    <%= render 'layouts/header_member' %>
                <% end %>
            <% else %>
                <%= render 'layouts/header_unauthenticated' %>
            <% end %>
        </ul>
    </nav>
    
    <!-- Social Icons -->
    <div class="bottom-bar padding-20 text-right">
        <ul class="social-icons pull-right margin-b-0 hidden-xs">
            <li><a href="https://www.facebook.com/vegandatingsimplified/" class="icon icon-xs"><i class="fa fa-facebook"></i></a></li>
        </ul>
    </div>

</header>
<!-- Header / End -->

<!-- Page Wrapper -->
<div id="page-wrapper" data-scroll-easing="easeOutQuad">

    <%= yield %>

</div>
<!-- Page Wrapper / End -->

<!-- JS Libraries -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>

<!-- JS Plugins -->
<script src="/assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="/assets/js/core.js"></script>

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<!-- Ekko Lightbox -->
<script src="/assets/js/ekko-lightbox.js"></script>

<!-- Ekko Lightbox delegation -->
<script>
    $().ready(function() {
   $('[data-toggle="lightbox"]').click(function(event) {
     event.preventDefault();
     $(this).ekkoLightbox({
       type: 'image',
       onContentLoaded: function() {
         var container = $('.ekko-lightbox-container');
         var image = container.find('img');
         var windowHeight = $(window).height();
         if(image.height() + 200 > windowHeight) {
           image.css('height', windowHeight - 150);
           var dialog = container.parents('.modal-dialog');
           var padding = parseInt(dialog.find('.modal-body').css('padding'));
           dialog.css('max-width', image.width() + padding * 2 + 2);
         }
       }
     });
   });
 });
</script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<!--
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
-->

</body>

</html>